name: Checks for push

on: push

jobs:
  path-filter:
    timeout-minutes: 30
    outputs:
      actions: ${{steps.changes.outputs.actions}}
      lua: ${{steps.changes.outputs.lua}}
      renovate: ${{steps.changes.outputs.renovate}}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            actions:
              - .github/workflows/*.yml
              - .github/workflows/*.yaml
              - aqua.yaml
              - flake.nix
              - flake.lock
            lua:
              - .github/workflows/check.yml
              - ./**/*.lua
              - selene.toml
              - vim.toml
              - flake.nix
              - flake.lock
            renovate:
              - renovate.json5
              - flake.nix
              - flake.lock
  check-actions:
    needs: path-filter
    if: needs.path-filter.outputs.actions == 'true'
    timeout-minutes: 30
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixpkgs-unstable.tar.gz
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: check actions
        run: |
          nix run .#check-actions
  check-lua:
    needs: path-filter
    if: needs.path-filter.outputs.lua == 'true'
    timeout-minutes: 30
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixpkgs-unstable.tar.gz
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: check actions
        run: |
          nix run .#check-lua
  check-renovate:
    needs: path-filter
    if: needs.path-filter.outputs.renovate == 'true'
    timeout-minutes: 30
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixpkgs-unstable.tar.gz
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: check actions
        run: |
          nix run .#check-renovate-config
  status-check:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    needs:
      - check-actions
      - check-lua
      - check-renovate
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
